:root {
    --azulFuerte: #0C1F42;
    --azulIntermedio: #485E84;
    --azulClaro: #A8C1F0;
    --griss: #99A1B0;
}

@font-face {
    font-family: 'Agency FB';
    src: url('../Tipografias/AGENCYR.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

@font-face {
    font-family: 'Century gothic';
    src: url('../Tipografias/GOTHIC.TTF') format('truetype');
    font-style: normal;
    font-weight: normal;
}

.header-area {
    position: absolute;
    width: 100%;
    z-index: 1;
}

.container-fluid {
    /* Modifica el ancho del menu de navegacion*/
    width: 90%;
}

.navbar-collapse {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.navbar-collapse .div-info-contacto {
    height: auto;
}

.navbar-collapse .div-items {
    height: auto;
}

.navbar-collapse .div-items .nav-link {
    padding-top: 0px !important;
    padding-bottom: 20px !important;
    font-family: 'Century gothic';
    font-size: 20px;
}

.navbar-collapse .div-info-contacto {
    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar-collapse .div-info-contacto a {
    font-family: 'Century gothic';
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}

.navbar-collapse .div-info-contacto a img {
    width: 25px;
    margin-right: 5px;
}

.navbar-collapse .div-info-contacto .a-numero {
    padding-right: 20px;
    border-right: 1px solid var(--azulClaro);
}

.navbar-collapse .div-info-contacto .a-correo {
    padding-left: 20px;
}

.navbar-dark .navbar-nav .nav-link {
    position: relative;
    color: #fff;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
}

.navbar .dropdown-menu {
    padding: 0;
    margin-left: -30px;
    background-color: rgba(0, 0, 0, .9);
}

.navbar .dropdown-menu .dropdown-item {
    position: relative;
    padding: 10px 20px;
    color: #fff;
    border-bottom: 1px solid rgba(255, 0, 0, 0.1);
    transition: color 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:last-child {
    border-bottom: none;
}

.navbar .dropdown-menu .dropdown-item:hover {
    background: transparent;
    color: #A8C1F0;
}

.navbar .dropdown-menu .dropdown-item::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    width: 5px;
    background-color: #A8C1F0;
    opacity: 0;
    transition: opacity 0.2s ease-in;
}

.navbar .dropdown-menu .dropdown-item:hover::before {
    opacity: 1;
}

.navbar.fixed-top {
    position: fixed;
    -webkit-animation: navbar-animation 0.6s;
    animation: navbar-animation 0.6s;
    background-color: var(--azulFuerte);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link.active {
    color: var(--azulClaro);
}

.navbar.fixed-top.navbar-dark .navbar-nav .nav-link::after {
    background-color: var(--azulClaro);
}

.content {
    padding: 120px 0;
}

@media screen and (min-width: 767px) {
    .navbar-dark .navbar-nav .nav-link {
        padding: 23px 15px;
    }
    .navbar-dark .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        bottom: 15px;
        left: 30%;
        right: 30%;
        height: 1px;
        background-color: #fff;
        -webkit-transform: scaleX(0);
        -ms-transform: scaleX(0);
        transform: scaleX(0);
        transition: transform 0.1s ease-in;
    }
    .navbar-dark .navbar-nav .nav-link:hover::after {
        -webkit-transform: scaleX(1);
        -ms-transform: scaleX(1);
        transform: scaleX(1);
    }
    .dropdown-menu {
        min-width: 200px;
        -webkit-animation: dropdown-animation 0.3s;
        animation: dropdown-animation 0.3s;
        -webkit-transform-origin: top;
        -ms-transform-origin: top;
        transform-origin: top;
    }
}

@media (max-width: 767px) {
    .navbar-collapse {
        align-items: center;
        text-align: center;
    }
    .navbar .dropdown-menu {
        margin-left: 0px;
        width: 250px;
        text-align: center;
    }
    .navbar-collapse .div-info-contacto {
        width: 90%;
        margin-bottom: 3%;
        border-bottom: 1px solid var(--azulClaro);
        flex-direction: column;
    }
    .navbar-collapse .div-info-contacto a {
        margin-bottom: 3%;
    }
    .navbar-collapse .div-info-contacto .a-numero {
        padding-right: 0;
        border-right: none;
    }
    .navbar-collapse .div-info-contacto .a-correo {
        padding-left: 0;
    }
    .navbar-collapse .div-items .nav-link {
        text-align: center;
    }
}

@-webkit-keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes navbar-animation {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-100%);
        -ms-transform: translateY(-100%);
        transform: translateY(-100%);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

@-webkit-keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}

@keyframes dropdown-animation {
    0% {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }
    75% {
        -webkit-transform: scaleY(1.1);
        -ms-transform: scaleY(1.1);
        transform: scaleY(1.1);
    }
    100% {
        -webkit-transform: scaleY(1);
        -ms-transform: scaleY(1);
        transform: scaleY(1);
    }
}


/*Estilos para el carrusel de incio*/

.seccion-inicio {
    height: 100vh;
    width: 100%;
}

.seccion-inicio .contenedor-carrusel-inicio {
    height: 100vh;
    width: 100%;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido {
    width: 90%;
    height: 70%;
    z-index: 4;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion .img-logotipo {
    width: 40%;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion h2 {
    font-family: 'Century gothic';
    color: #fff;
    font-size: 80px;
    font-weight: bold;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion p {
    font-family: 'Century gothic';
    color: #fff;
    font-size: 30px;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-color-fondo {
    /* Estilos generales para el color de la imagen */
    position: absolute;
    height: 100vh;
    width: 100%;
    background-color: rgba(12, 31, 66, 0.50);
    z-index: -1;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-color-fondo-inicio {
    background-color: rgba(12, 31, 66, 0.75) !important;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-imagen-fondo {
    /* Estilos generales para la imagen de fondo */
    position: absolute;
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    z-index: -2;
}


/* Estilos para la paginacion */

.swiper-pagination-bullet-active-next,
.swiper-pagination-bullet-active-prev {
    color: red !important;
}

.swiper-pagination {
    margin-bottom: 50px !important;
}

.swiper-pagination-bullet-active-main {
    background-color: #fff !important;
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-1 {
    background: url("../Imagenes/BELLAS_ARTES.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-2 {
    background: url("../Imagenes/derecho-civil-grande.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-3 {
    background: url("../Imagenes/derecho-mercantil-grande.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-4 {
    background: url("../Imagenes/derecho-sucesorio-grande.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-5 {
    background: url("../Imagenes/derecho-agrario-grande.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-6 {
    background: url("../Imagenes/derecho-inmobiliario-grande.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-7 {
    background: url("../Imagenes/gestorias.jpg");
}

.seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .imagen-8 {
    background: url("../Imagenes/otros-grande.jpg");
}

@media (max-width: 500px) {
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido {
        width: 80%;
    }
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion h2 {
        font-size: 40px;
    }
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion p {
        font-size: 20px;
    }
}

@media (max-width: 390px) {
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido {
        width: 75%;
    }
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion h2 {
        font-size: 30px;
    }
    .seccion-inicio .contenedor-carrusel-inicio .swiper-wrapper .swiper-slide .div-general-contenido .div-informacion p {
        font-size: 18px;
    }
}


/* Seccion de nuestra firma */

.seccion-nuestra-firma,
.div-general-nuestra-firma {
    height: 100%;
    width: 100%;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido {
    height: 70%;
    width: 70%;
    margin-top: 50px;
    text-align: center;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido h2 {
    color: #fff;
    font-size: 80px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido p {
    width: 100%;
    color: #fff;
    font-size: 25px;
    font-family: 'Century gothic';
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .imagen-nuestra-firma {
    position: absolute;
    height: 70%;
    width: 100%;
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/nuestra-firma.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: bottom center !important;
    z-index: -2;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-general-video {
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video {
    width: 100%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video video {
    width: 70%;
}

.seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video h2 {
    position: absolute;
    margin-bottom: -40%;
    color: #485E84;
    font-size: 125px;
    font-family: 'Agency FB';
    font-weight: bold;
}

@media (max-width: 1050px) {
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido {
        width: 90%;
        height: 50%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .imagen-nuestra-firma {
        height: 50%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video video {
        width: 90%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video h2 {
        margin-bottom: -50%;
        font-size: 100px;
    }
}

@media (max-width: 800px) {
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido {
        height: 70%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .imagen-nuestra-firma {
        height: 70%;
    }
}

@media (max-width: 500px) {
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido {
        height: 55%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .imagen-nuestra-firma {
        height: 55%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido h2 {
        font-size: 40px;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido p {
        font-size: 18px;
        text-align: justify;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-general-video .div-video h2 {
        font-size: 70px;
    }
}

@media (max-width: 380px) {
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .div-general-contenido {
        height: 65%;
    }
    .seccion-nuestra-firma .div-general-nuestra-firma .div-fondo-imagen .imagen-nuestra-firma {
        height: 65%;
    }
}


/* Estilos para nuestra mision y vision */

.seccion-nuestra {
    width: 100%;
    height: auto;
    padding-top: 70px;
    padding-bottom: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F1F1F1;
}

.seccion-nuestra .div-informacion {
    width: 90%;
}

.seccion-nuestra .div-informacion h2 {
    color: var(--azulFuerte);
    font-size: 60px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-nuestra .div-informacion p {
    color: #000;
    font-size: 25px;
    font-family: 'Century gothic';
    text-align: justify;
}


/* Estilos para la seccion de cursos */

.seccion-cursos {
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-cursos .div-informacion-cursos {
    width: 70%;
    text-align: center;
}

.seccion-cursos .div-informacion-cursos h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'Agency FB';
    font-weight: bold;
    line-height: 55px;
}

.seccion-cursos .div-informacion-cursos p {
    margin-top: -10px;
    color: #fff;
    font-size: 25px;
    font-family: 'Century gothic';
}

.seccion-cursos .div-informacion-cursos a {
    border: 1px solid var(--azulClaro);
    padding: 7px 50px 7px 50px;
    color: var(--azulClaro);
    font-size: 20px;
    font-family: 'Century gothic';
    text-decoration: none;
    border-radius: 10px;
    transition: all 1s ease;
}

.seccion-cursos .div-informacion-cursos a:hover {
    background: #edf8ff;
    color: var(--azulFuerte);
    border-color: var(--azulFuerte);
}

.seccion-cursos .div-fondo-foto {
    position: absolute;
    width: 100%;
    height: 100%;
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/Abogados.jpg");
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
    z-index: -2;
}

@media (max-width: 500px) {
    .seccion-nuestra .div-informacion h2 {
        font-size: 40px;
    }
    .seccion-nuestra .div-informacion p {
        font-size: 18px;
    }
    .seccion-cursos .div-informacion-cursos {
        width: 90%;
    }
    .seccion-cursos .div-informacion-cursos h2 {
        font-size: 40px;
        line-height: 40px;
    }
    .seccion-cursos .div-informacion-cursos p {
        margin-top: 0px;
        font-size: 20px;
    }
}

@media (max-width: 380px) {
    .seccion-cursos .div-informacion-cursos h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .seccion-cursos .div-informacion-cursos p {
        font-size: 18px;
    }
    .seccion-cursos .div-informacion-cursos a {
        padding: 7px 30px 7px 30px;
        font-size: 18px;
    }
}


/*---ESTILOS PARA LA SECCION AREAS DE PRACTICA---*/


/*Estilos para el carrusel*/

.seccion-carrusel {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.seccion-carrusel h2 {
    margin-top: 5%;
    font-family: 'Agency FB';
    color: var(--azulFuerte);
    font-size: 60px;
    font-weight: bold;
}

.seccion-carrusel .contenedor-carrusel-areas {
    width: 90%;
    height: 60%;
    text-align: center;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .swiper-slide {
    width: 100%;
    height: 100%;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .swiper-slide .div-general-contenido {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .swiper-slide .div-general-contenido h3 {
    color: #fff;
    font-family: 'Century gothic';
    font-size: 30px;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .swiper-slide .div-general-contenido a {
    padding: 3px 15px 3px 15px;
    border: 1px solid var(--azulClaro);
    border-radius: 3px;
    color: var(--azulClaro);
    font-size: 18px;
    font-family: 'Century gothic';
    text-decoration: none;
    transition: all 1s ease;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .swiper-slide .div-general-contenido a:hover {
    background: #edf8ff;
    color: var(--azulFuerte);
    border-color: var(--azulFuerte);
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .div-imagen-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
    z-index: -2;
    border-radius: 15px;
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-1 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/derecho-civil-grande.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-2 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/derecho-mercantil-grande.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-3 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/derecho-sucesorio-grande.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-4 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/derecho-agrario-grande.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-5 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/derecho-inmobiliario-grande.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-6 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/gestorias.jpg");
}

.seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .imagen-7 {
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/otros-grande.jpg");
}

@media (max-width: 500px) {
    .seccion-carrusel {
        justify-content: flex-end;
        align-items: center;
    }
    .seccion-carrusel h2 {
        font-size: 40px;
    }
    .seccion-carrusel .contenedor-carrusel-areas {
        width: 100%;
        height: 80%;
        text-align: center;
    }
    .seccion-carrusel .contenedor-carrusel-areas .swiper-wrapper .div-imagen-fondo {
        border-radius: 0px;
    }
}

@media (max-width: 380px) {
    .seccion-carrusel h2 {
        font-size: 40px;
    }
    .seccion-carrusel .contenedor-carrusel-areas {
        height: 75%;
    }
}


/* Estilos para el footer */

footer {
    width: 100%;
    height: 250px;
    background-color: #050d1b;
}

footer .div-general-logo {
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-general-logo .div-linea-1 {
    width: 40%;
    height: 1%;
    background-color: var(--azulClaro);
}

footer .div-general-logo .div-logo {
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer .div-general-logo .div-logo h1 {
    color: var(--azulClaro);
}

footer .div-general-logo .div-linea-2 {
    width: 40%;
    height: 1%;
    background-color: var(--azulClaro);
}

footer .div-informacion {
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer .div-informacion p {
    color: #fff;
    font-family: 'Century gothic';
    font-size: 19px;
}

footer .div-informacion .div-informacion-legal .a-informacion {
    color: #fff;
    font-family: 'Century gothic';
    font-size: 19px;
    text-align: center;
    padding-right: 10px;
}

footer .div-informacion .div-informacion-legal .a-politica {
    color: #fff;
    font-family: 'Century gothic';
    font-size: 19px;
    text-align: center;
    padding-left: 11px;
    border-left: 1px solid var(--azulClaro);
}

@media (max-width: 500px) {
    footer .div-informacion {
        justify-content: flex-start;
    }
    footer .div-informacion .div-informacion-legal .a-informacion {
        padding-right: 0;
        margin-bottom: 5px;
    }
    footer .div-informacion .div-informacion-legal .a-politica {
        padding-left: 0;
        border: none;
    }
    footer .div-informacion .div-informacion-legal {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    footer {
        height: 350px;
    }
}


/* --- Estilos para las paginas de areas de practicas individuales --- */


/* Estilos generales para todas las paginas  */

.seccion-imagen {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-imagen .div-imagen-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-attachment: fixed;
    background-image: url("../Imagenes/derecho-civil-grande.jpg");
    z-index: -2;
}

.seccion-informacion {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-informacion .div-general-informacion {
    width: 90%;
    margin-bottom: 5%;
    margin-top: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #F1F1F1;
}

.seccion-informacion .div-general-informacion h2 {
    font-family: 'Agency FB';
    color: var(--azulFuerte);
    font-size: 60px;
    font-weight: bold;
}

.seccion-informacion .div-general-informacion ul {
    width: 90%;
    text-align: left;
    font-size: 25px;
    font-family: 'Century gothic';
    color: #000;
    list-style-image: url(../Imagenes/paloma.png);
}

.seccion-informacion .div-general-informacion ul li {
    margin-bottom: 15px;
}

.seccion-imagen .imagen-civil {
    background-image: url("../Imagenes/derecho-civil-grande.jpg");
}

.seccion-imagen .imagen-mercantil {
    background-image: url("../Imagenes/derecho-mercantil-grande.jpg");
}

.seccion-imagen .imagen-sucesorio {
    background-image: url("../Imagenes/derecho-sucesorio-grande.jpg");
}

.seccion-imagen .imagen-agrario {
    background-image: url("../Imagenes/derecho-agrario-grande.jpg");
}

.seccion-imagen .imagen-inmobiliario {
    background-image: url("../Imagenes/derecho-inmobiliario-grande.jpg");
}

.seccion-imagen .imagen-gestorias {
    background-image: url("../Imagenes/gestorias.jpg");
}

.seccion-imagen .imagen-otros {
    background-image: url("../Imagenes/otros-grande.jpg");
}

@media (max-width: 500px) {
    .seccion-informacion .div-general-informacion {
        margin-bottom: 10%;
        margin-top: 10%;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .seccion-informacion .div-general-informacion h2 {
        font-size: 40px;
    }
    .seccion-informacion .div-general-informacion ul {
        font-size: 18px;
    }
}

@media (max-width: 380px) {
    .seccion-informacion .div-general-informacion h2 {
        font-size: 30px;
        line-height: 35px;
    }
    .seccion-informacion .div-general-informacion ul {
        font-size: 18px;
    }
}


/* --- Estilos para la pagina de cursos y catedras --- */


/* Seccion inicio */

.seccion-inicio-curso {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-inicio-curso .div-texto h2 {
    color: #fff;
    font-size: 80px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-inicio-curso .div-imagen-fondo {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-image: linear-gradient( to bottom, rgba(12, 31, 66, 0.60), rgba(12, 31, 66, 0.60)), url("../Imagenes/Fondo-sobre-nosotros.jpg");
    z-index: -2;
}


/* Estilos para la seccion de nuestra mision, objectivos y valores */

.seccion-nuestra-informacion {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-nuestra-informacion .div-mision {
    height: 30%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
}

.seccion-nuestra-informacion .div-mision .div-texto {
    width: 90%;
}

.seccion-nuestra-informacion .div-mision .div-texto h2 {
    font-family: 'Agency FB';
    color: var(--azulFuerte);
    font-size: 50px;
    font-weight: bold;
}

.seccion-nuestra-informacion .div-mision .div-texto p {
    font-size: 20px;
    font-family: 'Century gothic';
}

.seccion-nuestra-informacion .div-objectivos-valores {
    height: 70%;
    width: 100%;
    display: flex;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-imagen-fondo {
    position: absolute;
    height: 70%;
    width: 50%;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    z-index: -2;
}

.seccion-nuestra-informacion .div-objectivos-valores .fondo-objectivos {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../Imagenes/objetivos.jpg");
}

.seccion-nuestra-informacion .div-objectivos-valores .fondo-valores {
    background-image: linear-gradient( to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5)), url("../Imagenes/lupa.jpg");
}

.seccion-nuestra-informacion .div-objectivos-valores .div-objectivos {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-objectivos .div-texto {
    height: auto;
    width: 90%;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-objectivos .div-texto h2 {
    color: #fff;
    font-size: 50px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-objectivos .div-texto p {
    color: #fff;
    font-size: 20px;
    font-family: 'Century gothic';
    text-align: left;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto {
    height: auto;
    width: 90%;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto h2 {
    color: #fff;
    font-size: 60px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto p,
.ul-valores {
    color: #fff;
    font-size: 20px;
    font-family: 'Century gothic';
    text-align: left;
}

.seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto ul {
    line-height: 32px;
}

@media (max-width: 1200px) {
    .seccion-nuestra-informacion .div-mision {
        height: auto;
        padding-top: 5%;
        padding-bottom: 5%;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-objectivos {
        height: 80%;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-valores {
        height: 80%;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-imagen-fondo {
        height: 80%;
    }
}

@media (max-width: 600px) {
    .seccion-inicio-curso .div-texto h2 {
        font-size: 40px;
        text-align: center;
    }
    .seccion-nuestra-informacion {
        height: auto;
    }
    .seccion-nuestra-informacion .div-mision .div-texto h2 {
        font-size: 40px;
    }
    .seccion-nuestra-informacion .div-mision .div-texto p {
        font-size: 18px;
        text-align: justify;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-objectivos .div-texto h2 {
        font-size: 40px;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-objectivos .div-texto p {
        font-size: 18px;
        text-align: justify;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto h2 {
        font-size: 40px;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-valores .div-texto p,
    .ul-valores {
        font-size: 18px;
        text-align: justify;
    }
    .seccion-nuestra-informacion .div-objectivos-valores {
        height: auto;
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-objectivos {
        height: 450px;
        width: 100%;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-valores {
        height: 500px;
        width: 100%;
    }
    .seccion-nuestra-informacion .div-objectivos-valores .div-imagen-fondo {
        height: 500px;
        width: 100%;
    }
}


/*Estilos para el numero de diplomados*/

.seccion-diplomados {
    width: 100%;
    height: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #F1F1F1;
}

.seccion-diplomados .div-general {
    width: 90%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-diplomados .div-general .p-contamos {
    font-size: 28px;
    font-family: 'Century gothic';
    text-align: center;
}

.seccion-diplomados .div-general .div-general-numeros {
    width: 75%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.seccion-diplomados .div-general .div-general-numeros .div-numero {
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    border-radius: 20px;
}

.seccion-diplomados .div-general .div-general-numeros .div-numero .p-numero {
    font-size: 100px;
    font-family: 'Century gothic';
    font-weight: bolder;
    color: #EE6F23;
}

.seccion-diplomados .div-general .div-general-numeros .div-numero .p-derecho {
    margin-top: -30px;
    font-size: 30px;
    font-family: 'Century gothic';
    text-align: center;
    line-height: 30px;
}

@media (max-width: 1135px) {
    .seccion-diplomados .div-general .div-general-numeros {
        width: 100%;
    }
}

@media (max-width: 833px) {
    .seccion-diplomados .div-general .div-general-numeros .div-numero {
        width: 200px;
        height: 200px;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-numero {
        font-size: 80px;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-derecho {
        font-size: 25px;
    }
}

@media (max-width: 667px) {
    .seccion-diplomados .div-general .div-general-numeros .div-numero {
        width: 150px;
        height: 150px;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-numero {
        font-size: 70px;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-derecho {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .seccion-diplomados .div-general .div-general-numeros {
        justify-content: center;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-izquierdo {
        margin-right: 5%;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-derecho {
        margin-top: 5%;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-numero {
        font-size: 60px;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-numero .p-derecho {
        font-size: 18px;
        line-height: 20px;
    }
}

@media (max-width: 332px) {
    .seccion-diplomados .div-general .div-general-numeros .div-izquierdo {
        margin-right: 0;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-derecho {
        margin-top: 0;
    }
    .seccion-diplomados .div-general .div-general-numeros .div-centro {
        margin-top: 8%;
        margin-bottom: 8%;
    }
}


/*estilos para la seccion de perfiles*/

.seccion-perfil {
    width: 100%;
    height: auto;
    padding-top: 3%;
    padding-bottom: 3%;
}

.seccion-perfil .div-general {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-perfil .div-general .div-general-foto {
    width: 50%;
    height: auto;
    display: flex;
    justify-content: flex-end;
}

.seccion-perfil .div-general .div-general-foto .div-foto {
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-perfil .div-general .div-general-foto .div-foto img {
    width: 100%;
    object-fit: cover;
}

.seccion-perfil .div-general .div-informacion {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.seccion-perfil .div-general .div-informacion .div-text {
    display: flex;
    flex-direction: column;
    width: 90%;
}

.seccion-perfil .div-general .div-informacion .div-text h2 {
    font-family: 'Century gothic';
    font-size: 35px;
    color: var(--azulFuerte);
}

.seccion-perfil .div-general .div-informacion .div-text .p-cargo {
    font-family: 'Century gothic';
    font-size: 30px;
    margin-top: -15px;
}

.seccion-perfil .div-general .div-informacion .div-text .p-informacion {
    font-family: 'Century gothic';
    font-size: 23px;
}

.seccion-perfil .div-general .div-informacion .div-text a {
    width: 200px;
    padding-top: 4px;
    padding-bottom: 4px;
    border: 1px solid #0960ec;
    text-align: center;
    color: #0960ec;
    font-family: 'Century gothic';
    color: 23px;
    text-decoration: none;
    transition: all 1s ease;
}

.seccion-perfil .div-general .div-informacion .div-text a:hover {
    background: #d7eeff;
}

.seccion-perfil .div-general .div-informacion .div-text img {
    width: 350px;
}

@media (max-width: 1300px) {
    .seccion-perfil .div-general .div-informacion .div-text h2 {
        font-size: 30px;
    }
    .seccion-perfil .div-general .div-informacion .div-text .p-cargo {
        font-size: 25px;
    }
    .seccion-perfil .div-general .div-informacion .div-text .p-informacion {
        font-size: 20px;
    }
    .seccion-perfil .div-general .div-informacion .div-text img {
        width: 250px;
    }
}

@media (max-width: 1000px) {
    .pefil-christian {
        margin-top: 10%;
    }
    .seccion-perfil .div-general {
        flex-direction: column;
    }
    .seccion-perfil .div-general .div-general-foto {
        width: 90%;
    }
    .seccion-perfil .div-general .div-general-foto .div-foto {
        width: 100%;
    }
    .seccion-perfil .div-general .div-informacion {
        margin-top: 5%;
        width: 90%;
    }
    .seccion-perfil .div-general .div-informacion .div-text {
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .seccion-perfil .div-general .div-informacion .div-text h2 {
        text-align: center;
    }
    .seccion-perfil .div-general .div-informacion .div-text .p-informacion {
        text-align: justify;
    }
    .seccion-perfil .div-general .div-informacion .div-text .p-cargo {
        text-align: center;
    }
}

@media (max-width: 600px) {
    .seccion-perfil .div-general .div-informacion .div-text .p-informacion {
        font-size: 18px;
    }
}


/* Estilos para la seccion de contacto */

.seccion-contacto {
    width: 100%;
    height: auto;
}

.seccion-contacto .div-general-contacto {
    width: 100%;
    height: auto;
    display: flex;
}

.seccion-contacto .div-general-contacto .div-general-redes {
    width: 40%;
    height: 65em;
    display: flex;
    align-items: center;
    background: rgb(14, 78, 191);
    background: linear-gradient(0deg, rgba(14, 78, 191, 1) 0%, rgba(79, 185, 255, 1) 100%);
}

.seccion-contacto .div-general-contacto .div-general-redes .div-redes {
    width: 85%;
    height: auto;
    margin-left: 12%;
}

.seccion-contacto .div-general-contacto .div-general-redes .div-redes .div-1 {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-bottom: 8%;
}

.seccion-contacto .div-general-contacto .div-general-redes .div-redes p {
    color: #fff;
    font-size: 40px;
    font-family: 'Century gothic';
    font-weight: bold;
}

.seccion-contacto .div-general-contacto .div-general-redes .div-redes a {
    color: #fff;
    font-size: 30px;
    font-family: 'Century gothic';
    margin-bottom: 15px;
}

.seccion-contacto .div-general-contacto .div-general-redes .div-redes a img {
    width: 60px;
    margin-right: 20px;
}

.seccion-contacto .div-general-contacto .div-formulario {
    width: 60%;
    height: 65em;
    display: flex;
    align-items: center;
}

.seccion-contacto .div-general-contacto .div-formulario form {
    width: 90%;
    margin-left: 2%;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo {
    width: 100%;
    margin-bottom: 2%;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo p {
    margin-bottom: -3px;
    font-family: 'Century gothic';
    font-size: 30px;
    color: var(--azulFuerte);
}

.seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-title {
    font-family: 'Century gothic';
    font-size: 50px;
    font-weight: bold;
    color: var(--azulFuerte);
    line-height: 10px;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-text {
    font-family: 'Century gothic';
    font-size: 25px;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo input,
textarea {
    width: 100%;
    padding-left: 10px;
    border: 2px solid var(--azulFuerte);
    outline: none;
    font-family: 'Century gothic';
    font-size: 25px;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo input:not(.btn-enviar) {
    height: 40px;
    border-top: none;
    border-left: none;
    border-right: none;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo textarea {
    height: 200px;
}

.seccion-contacto .div-general-contacto .div-formulario form .div-campo .btn-enviar {
    width: 350px;
    height: 45px;
    border: none;
    background: #2797ff;
    color: #fff;
    font-weight: bold;
}

@media (max-width: 1300px) {
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes p {
        font-size: 35px;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes a {
        font-size: 25px;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes a img {
        width: 50px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-title {
        font-size: 40px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-campo p {
        margin-bottom: -3px;
        font-size: 25px;
    }
}

@media (max-width: 1000px) {
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes p {
        font-size: 30px;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes a {
        font-size: 20px;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes a img {
        width: 45px;
        margin-right: 15px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-title {
        font-size: 35px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-campo p {
        margin-bottom: -3px;
        font-size: 20px;
    }
}

@media (max-width: 750px) {
    .seccion-contacto .div-general-contacto {
        flex-direction: column-reverse;
    }
    .seccion-contacto .div-general-contacto .div-general-redes {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes {
        width: 90%;
        margin-left: 0px;
    }
    .seccion-contacto .div-general-contacto .div-formulario {
        width: 100%;
        height: auto;
        align-items: center;
        justify-content: center;
        margin-top: 10%;
        margin-bottom: 10%;
    }
    .seccion-contacto .div-general-contacto .div-formulario form {
        width: 90%;
        margin-left: 0;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes .div-1,
    .div-2 {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes .div-2 {
        flex-direction: column;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes p {
        font-size: 30px;
    }
    .seccion-contacto .div-general-contacto .div-general-redes .div-redes a {
        font-size: 20px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-title {
        font-size: 30px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-texto .p-text {
        font-size: 20px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-campo {
        margin-bottom: 5%;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-campo p {
        font-size: 18px;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-campo .btn-enviar {
        width: 300px;
        height: 40px;
        font-size: 20px;
        background: #2797ff;
    }
    .seccion-contacto .div-general-contacto .div-formulario form .div-btn {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}


/*Estilos para la seccion FAQ*/

.seccion-FAQ {
    width: 100%;
    height: auto;
    padding-top: 8%;
    padding-bottom: 8%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(241, 241, 241);
}

.seccion-FAQ .div-text {
    width: 90%;
    height: auto;
}

.seccion-FAQ .div-text h2 {
    font-family: 'Agency FB';
    font-size: 60px;
    font-weight: bold;
    color: var(--azulFuerte);
}

.seccion-FAQ .div-text p {
    font-family: 'Century gothic';
    font-size: 25px;
    text-align: justify;
}

@media (max-width: 750px) {
    .seccion-FAQ .div-text h2 {
        font-size: 40px;
    }
    .seccion-FAQ .div-text p {
        font-size: 18px;
    }
}


/* ---Estilos para las paginas de docuemntos legales--- */


/* Estilos para la seccion titulo */

.seccion-titulo {
    width: 100%;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--azulIntermedio);
}

.seccion-titulo .div-text {
    width: 90%;
    margin-top: 5%;
    text-align: center;
}

.seccion-titulo .div-text h3 {
    color: #fff;
    font-size: 80px;
    font-family: 'Agency FB';
    font-weight: bold;
}

.seccion-titulo .div-text p {
    color: #fff;
    font-size: 28px;
    font-family: 'Century gothic';
    margin-top: -10px;
}

@media (max-width: 945px) {
    .seccion-titulo .div-text h3 {
        font-size: 60px;
    }
    .seccion-titulo .div-text p {
        font-size: 25px;
    }
}

@media (max-width: 750px) {
    .seccion-titulo .div-text h3 {
        font-size: 40px;
    }
    .seccion-titulo .div-text p {
        font-size: 20px;
    }
}

@media (max-width: 500px) {
    .seccion-titulo .div-text h3 {
        font-size: 30px;
    }
    .seccion-titulo .div-text p {
        font-size: 18px;
    }
}


/* Estilos para el contenido */

.seccion-contenido {
    height: auto;
    width: 100%;
    padding-top: 5%;
    padding-bottom: 5%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-contenido .div-text {
    height: auto;
    width: 90%;
    padding: 3%;
    font-size: 25px;
    font-family: 'Century gothic';
    text-align: justify;
    line-height: 32px;
    background-color: #F1F1F1;
}

.seccion-contenido .div-text .div-atentamente {
    width: 100%;
    text-align: center;
}

.seccion-contenido .div-text .div-atentamente .p-atentamente {
    font-size: 35px !important;
}

.seccion-contenido .div-text .div-atentamente .p-padilla {
    font-size: 45px !important;
    color: var(--azulFuerte);
}

@media (max-width: 950px) {
    .seccion-contenido .div-text .div-atentamente .p-atentamente {
        font-size: 30px !important;
    }
    .seccion-contenido .div-text .div-atentamente .p-padilla {
        font-size: 35px !important;
    }
}

@media (max-width: 750px) {
    .seccion-contenido .div-text {
        width: 90%;
        padding: 2%;
        font-size: 18px;
        line-height: 23px;
    }
    .seccion-contenido .div-text .div-atentamente .p-atentamente {
        font-size: 20px !important;
    }
    .seccion-contenido .div-text .div-atentamente .p-padilla {
        font-size: 25px !important;
    }
}


/* Estilos para los perfiles */

.seccion-perfil-individual {
    width: 100%;
    height: auto;
}

.seccion-perfil-individual .div-cabezera {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-perfil-individual .div-cabezera .div-imagen-fondo {
    width: 100%;
    height: 40vh;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center center !important;
    background-image: url("../Imagenes/fondo-portada-1.jpg");
}

.seccion-perfil-individual .div-cabezera .div-foto-perfil {
    position: absolute;
    width: auto;
    height: auto;
    margin-bottom: -30rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

.seccion-perfil-individual .div-cabezera .div-foto-perfil img {
    width: 300px;
    border-radius: 100%;
}

.seccion-perfil-individual .div-cabezera .div-foto-perfil h2 {
    font-family: 'Agency FB';
    font-size: 50px;
    font-weight: bold;
    color: var(--azulFuerte);
}

.seccion-perfil-individual .div-cabezera .div-foto-perfil p {
    font-family: 'Century gothic';
    font-size: 30px;
    line-height: 10px;
}

.seccion-descripcion {
    width: 100%;
    height: 35rem;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.seccion-descripcion .div-informacion {
    width: 90%;
    height: auto;
    margin-bottom: 2%;
    padding: 20px;
    border-radius: 25px;
    background-color: #0C1F42;
    z-index: 1;
    /*
    -webkit-box-shadow: 25px 26px 39px -35px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 25px 26px 39px -35px rgba(0, 0, 0, 0.75);
    box-shadow: 25px 26px 39px -35px rgba(0, 0, 0, 0.75);
    */
}

.seccion-descripcion .div-informacion p {
    font-family: 'Century gothic';
    font-size: 25px;
    text-align: justify;
    color: #fff;
}

.seccion-datos {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seccion-datos .div-general {
    width: 90%;
    height: auto;
    display: flex;
}

.seccion-datos .div-general .div-izquierdo {
    width: 50%;
    height: auto;
}

.seccion-datos .div-general .div-izquierdo .div-informacion-grande {
    width: 95%;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: #f1f1f1;
}

.seccion-datos .div-general .div-izquierdo .div-informacion-grande p {
    font-family: 'Century gothic';
    font-size: 22px;
    text-align: justify;
}

.seccion-datos .div-general .div-derecho {
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
}

.seccion-datos .div-general .div-derecho .div-informacion-chico {
    width: 95%;
    height: auto;
    padding: 20px;
    border-radius: 25px;
    background-color: #F1F1F1;
}

.seccion-datos .div-general .div-derecho .div-informacion-chico p {
    font-family: 'Century gothic';
    font-size: 22px;
    text-align: justify;
}

.seccion-datos .div-largo {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.seccion-datos .div-largo .div-informacion-largo {
    width: 90%;
    padding: 20px;
    border-radius: 25px;
    background-color: #F1F1F1;
}

.seccion-datos .div-largo .div-informacion-largo p {
    font-family: 'Century gothic';
    font-size: 22px;
    text-align: justify;
}

.seccion-datos .div-largo .div-informacion-largo .div-publicacion {
    width: 90%;
    padding: 20px;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    background-color: #fff;
}

.seccion-datos .div-largo .div-informacion-largo .div-publicacion p,
a {
    font-family: 'Century gothic';
    font-size: 22px;
    text-align: justify;
}

@media (max-width: 1200px) {
    .seccion-descripcion {
        margin-top: 5%;
    }
}

@media (max-width: 900px) {
    .seccion-descripcion {
        margin-top: 10%;
    }
}

@media (max-width: 810px) {
    .seccion-descripcion {
        margin-top: 20%;
    }
}

@media (max-width: 710px) {
    .seccion-descripcion {
        margin-top: 5%;
    }
    .seccion-perfil-individual .div-cabezera .div-foto-perfil h2 {
        width: 90%;
        font-size: 45px;
    }
    .seccion-perfil-individual .div-cabezera .div-foto-perfil p {
        font-size: 25px;
    }
    .seccion-descripcion .div-informacion p {
        font-size: 18px;
    }
    .seccion-datos .div-general .div-izquierdo .div-informacion-grande p {
        font-size: 18px;
    }
    .seccion-datos .div-general .div-derecho .div-informacion-chico p {
        font-size: 18px;
    }
    .seccion-datos .div-largo .div-informacion-largo p {
        font-size: 18px;
    }
    .seccion-datos .div-largo .div-informacion-largo .div-publicacion p,
    a {
        font-size: 18px;
    }
    .seccion-datos .div-general {
        display: flex;
        flex-direction: column;
    }
    .seccion-datos .div-general .div-izquierdo {
        width: 100%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .seccion-datos .div-general .div-derecho {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .seccion-datos .div-general .div-izquierdo .div-informacion-grande {
        width: 100%;
    }
    .seccion-datos .div-general .div-derecho .div-informacion-chico {
        width: 100%;
    }
}

@media (max-width: 550px) {
    .seccion-descripcion {
        margin-top: 10rem;
    }
    .seccion-perfil-individual .div-cabezera .div-foto-perfil img {
        width: 225px;
    }
}

@media (max-width: 450px) {
    .seccion-descripcion {
        margin-top: 10rem;
    }
}

@media (max-width: 410px) {
    .seccion-descripcion {
        margin-top: 13rem;
    }
}